{
    "globals": {
      "ga": true,
      "chrome": true
    },
    "extends": ["standard", "plugin:vue/recommended"],
    "rules": {
      "no-restricted-globals": ["error", "event", "fdescribe"],
      "semi": 0,
      "indent": 0,
      "eol-last": 0
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    }
  }